/* Dine styles her */
article {
    --flow-space: 5rlh;

}

article > * + * {
    margin-top: var(--flow-space);
}

h2{
    --flow-space: 2rlh;
}

h3{
     --flow-space: 1rlh;
}

h3 ~ *{
     --flow-space: .25rlh;
}